<!DOCTYPE HTML>
<html>
<head>
<title>Box Sample</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
  <table>
    <tr>
      <td>|<a href="register">ユーザー新規登録</a></td>
      <td>|<a href="myfile">マイファイル</a></td>
      <td>|<a href="logout">ログアウト</a>|</td>
    </tr>
  </table>

  <form action="register" method="post">
    ユーザー名 <input type="text" name="name" value=""><br>
    パスワード <input type="password" name="password" value=""><br>
    <input type="submit" value="新規登録">
  </form>
</body>
</html>
